@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif
		
		
	
}
.homePage {
	background: #D5BFDF
	
	

}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #E5B2D4
	;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 300px;
	
}
.nav {
	background: #E6E9BB
	;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #A8C9D2
	;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}